#header_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    height: 30vh;
    border-radius: 10px;
    box-shadow: 8px 8px rgb(235, 223, 200);

}

h1 {
    text-align: center;
    color: rgb(60, 38, 21);
}

nav{
    width: 80vw;
    height: 10vh;
}



#nav_bar li {
    display: block;
    float: left;
    padding: 7px;
    background-color: rgb(236, 190, 158);
    color: rgb(71, 17, 17);
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 3px;
    margin: 2px;
}

#nav_bar li:hover {
    background-color: rgb(102, 63, 15);
    color: antiquewhite;
}

main,footer p {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
    width: 80vw;

    
}

main p{
    text-align: justify;
}

footer p{
    font-size: small;
    text-align: center;
    
}